<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3"> Course</h6>
            <h1 class="mb-5">Edit Course</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-12 wow fadeInUp"></div>
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form [formGroup]="editCourseForm">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" id="name" formControlName="name" [(ngModel)]="course.name" class="form-control" placeholder="Name">
                                
                                <label for="name">Course Name</label>
                            </div>

                            <div class="form-floating">
                                <input type="text" id="description" formControlName="description" [(ngModel)]="course.description" class="form-control" placeholder="Description">
                                
                                <label for="description">Description</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" id="module" formControlName="module" [(ngModel)]="course.module" class="form-control" placeholder="Module">
                                
                                <label for="module">Module</label>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" (click)="editCourse()" [disabled]="editCourseForm.invalid">Edit Course</button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
