<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentsTab">
        <th >{{student.id}}</th>
        <th >{{student.firstName}}</th>
        <th >{{student.lastName}}</th>
        <td>{{student.email}}</td>
        <td>{{student.tel}}</td>
      
      <button class="btn btn-warning" (click)="affecter(student.id)">Affecter</button>
      </tr>
    </tbody>
  </table>
