<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Module</th>
            <th scope="col">Teacher Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <th>{{course._id}}</th>
            <th>{{course.name}}</th>
            <td>{{course.description}}</td>
            <td>{{course.module}}</td>
            <td>{{searchTeacher(course.teacherId)?.firstName}} {{searchTeacher(course.teacherId)?.lastName}}</td>

            <td>
                <button class="btn btn-info" (click)="displayCourse(course._id)">Display</button>
                <button class="btn btn-warning" (click)="goToEdit(course._id)">Edit</button>
                <button class="btn btn-danger" (click)="deleteCourse(course._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>