<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Signup</h6>
            <h1 class="mb-5">Admin Signup</h1>
            <div style="color: red;">{{errorMsg}}</div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-12 wow fadeInUp"></div>
            <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form [formGroup]="adminForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" formControlName="firstName" class="form-control"
                                    placeholder="First Name">
                                <div *ngIf="adminForm.controls['firstName'].invalid &&
                                    (adminForm.controls['firstName'].touched || 
                                    adminForm.controls['firstName'].dirty)">
                                    <div *ngIf="adminForm.controls['firstName'].errors.required" style="color: red;">
                                        First Name is required
                                    </div>
                                    <div *ngIf="adminForm.controls['firstName'].errors.minlength" style="color: red;">
                                        First Name must have at least 3 chars
                                    </div>
                                </div>
                                <label for="name">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" formControlName="lastName" class="form-control"
                                    placeholder="Last Name">
                                <div *ngIf="adminForm.controls['lastName'].invalid &&
                                    (adminForm.controls['lastName'].touched || 
                                    adminForm.controls['lastName'].dirty)">
                                    <div *ngIf="adminForm.controls['lastName'].errors.required" style="color: red;">
                                        Last Name is required
                                    </div>
                                    <div *ngIf="adminForm.controls['lastName'].errors.minlength" style="color: red;">
                                        Last Name must have at least 3 chars
                                    </div>
                                </div>
                                <label for="name">Last Name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                                <div *ngIf="adminForm.controls['email'].invalid && (adminForm.controls['email'].touched 
                                || adminForm.controls['email'].dirty)">
                                    <div *ngIf="adminForm.controls['email'].errors.required" style="color: red;">
                                        Email is required
                                    </div>
                                    <div *ngIf="adminForm.controls['email'].errors.email" style="color: red;">
                                        Email invalid
                                    </div>
                                </div>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Password">
                                <div *ngIf="adminForm.controls['password'].invalid &&
                                    (adminForm.controls['password'].touched || 
                                    adminForm.controls['password'].dirty)">
                                    <div *ngIf="adminForm.controls['password'].errors.required" style="color: red;">
                                        Password is required
                                    </div>
                                    <div *ngIf="adminForm.controls['password'].errors.minlength" style="color: red;">
                                        Password must have at least 6 chars
                                    </div>
                                </div>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="tel" class="form-control" formControlName="tel"
                                    placeholder="Phone">
                                <div *ngIf="adminForm.controls['tel'].invalid &&
                            (adminForm.controls['tel'].touched || 
                            adminForm.controls['tel'].dirty)">
                                    <div *ngIf="adminForm.controls['tel'].errors.minlength" style="color: red;">
                                        Phone must have 8 chars
                                    </div>
                                    <div *ngIf="adminForm.controls['tel'].errors.maxlength" style="color: red;">
                                        Phone must have 8 chars
                                    </div>

                                </div>
                                <label for="password">Phone</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit" (click)="signupAdmin()" [disabled]="adminForm.invalid">Signup Admin</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>